{
  "extends": "standard",
  "env": {
    "es6": true,
    "node": true
  },
  "plugins": [
    "import"
  ],
  rules: {
    "camelcase": 0,
    "no-console": 0,
    "import/no-unresolved": [2, {commonjs: true, amd: true}],
    "import/named": 2,
    "import/namespace": 2,
    "import/default": 2,
    "import/export": 2
  }
}
